.Rproj.user
.Rhistory
.RData
.Ruserdata
inst/doc
**/.quarto/
inst/Install _text-embeddings-inference
.gitignore
inst/ASR/*
inst/examples/*
.DS_Store
inst/openalex_embedding_pipeline_v4.md
inst/abstract_cleaning_for_embeddings.md
/doc/
/Meta/
