.Rproj.user
.Rhistory
.RData
.Ruserdata
inst/doc
**/.quarto/
inst/Install _text-embeddings-inference
.gitignore
inst/ASR/*
inst/examples/*
.DS_Store
inst/openalex_embedding_pipeline_v4.md
inst/abstract_cleaning_for_embeddings.md
/doc/
/Meta/

demo/
demo/*
..Rcheck/00check.log
..Rcheck/00install.out
..Rcheck/openalexVectorComp/DESCRIPTION
..Rcheck/openalexVectorComp/INDEX
..Rcheck/openalexVectorComp/Install_text-embeddings-inference
..Rcheck/openalexVectorComp/LICENSE
..Rcheck/openalexVectorComp/NAMESPACE
..Rcheck/openalexVectorComp/Meta/demo.rds
..Rcheck/openalexVectorComp/Meta/features.rds
..Rcheck/openalexVectorComp/Meta/hsearch.rds
..Rcheck/openalexVectorComp/Meta/links.rds
..Rcheck/openalexVectorComp/Meta/nsInfo.rds
..Rcheck/openalexVectorComp/Meta/package.rds
..Rcheck/openalexVectorComp/Meta/Rd.rds
..Rcheck/openalexVectorComp/R/openalexVectorComp
..Rcheck/openalexVectorComp/R/openalexVectorComp.rdb
..Rcheck/openalexVectorComp/R/openalexVectorComp.rdx
..Rcheck/openalexVectorComp/help/aliases.rds
..Rcheck/openalexVectorComp/help/AnIndex
..Rcheck/openalexVectorComp/help/openalexVectorComp.rdb
..Rcheck/openalexVectorComp/help/openalexVectorComp.rdx
..Rcheck/openalexVectorComp/help/paths.rds
..Rcheck/openalexVectorComp/html/00Index.html
..Rcheck/openalexVectorComp/html/R.css
..Rcheck/openalexVectorComp/ovc_demo/openalex_demo_analysis.qmd
..Rcheck/openalexVectorComp/ovc_demo/project/corpus/corpus_small.parquet
..Rcheck/openalexVectorComp/ovc_demo/project/reference_corpus/reference_small.parquet
